**/.git
**/.github
**/.gitlab-ci.yml
**/.gitignore
**/.DS_Store

.vscode/
.devcontainer/
img/
k8s/
README.md
LICENSE
Makefile

Dockerfile
docker-compose.yml
.dockerignore

.env
logs/*.log*
test_*
**/__pycache__
**/.mypy_cache
pylint-exit.py
.pylintrc
**/tests
